<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.1">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>2</daysToKeep>
    <numToKeep>4</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <nectar.plugins.rbac.groups.JobProxyGroupContainer plugin="nectar-rbac@4.12">
      <groups/>
    </nectar.plugins.rbac.groups.JobProxyGroupContainer>
    <org.jenkinsci.plugins.uniqueid.impl.JobIdStore_-JobIdProperty plugin="unique-id@1.2">
      <id>
        <id>YTdkZmEwZGUtMGE5YS00NDEwLTgyNm</id>
      </id>
    </org.jenkinsci.plugins.uniqueid.impl.JobIdStore_-JobIdProperty>
    <com.cloudbees.opscenter.analytics.reporter.items.AnalyticsJobProperty plugin="operations-center-analytics-reporter@1.6-beta-6">
      <created>1418393160914</created>
    </com.cloudbees.opscenter.analytics.reporter.items.AnalyticsJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.1">
    <script>def flow
node(&apos;shared&apos;) {
    git branch: &apos;master&apos;, changelog: false, poll: false, url: &apos;https://github.com/lavaliere/workflow-plugin-pipeline-demo.git&apos;
    flow = load &apos;flow.groovy&apos;
    flow.devQAStaging()
}
flow.production()</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
</flow-definition>