<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.opscenter.server.model.ClientMaster plugin="operations-center-server@1.5.1">
  <id>0</id>
  <encodedName>api-team</encodedName>
  <idName>0-api-team</idName>
  <timeStamp>1414119024743</timeStamp>
  <grantId>f110faec-d2ff-4738-b8c2-392e76310333</grantId>
  <approved>false</approved>
  <properties class="com.cloudbees.opscenter.server.model.ConnectedMaster$PropertyList"/>
  <state>Created</state>
</com.cloudbees.opscenter.server.model.ClientMaster>