<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.opscenter.server.model.ClientMaster plugin="operations-center-server@1.6">
  <actions/>
  <description></description>
  <id>0</id>
  <encodedName>jenkins-master-api-team</encodedName>
  <idName>0-jenkins-master-api-team</idName>
  <timeStamp>1418241229125</timeStamp>
  <grantId>45fde081-d539-44fd-b529-d6f172feedbc</grantId>
  <approved>true</approved>
  <localEndpoint>http://54.174.120.135:8080/</localEndpoint>
  <identity>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtcOr/5qMvZyIs3swQY8Ra+n18LIoPoEH
TCECht86NCOEigqXWxi0xfW0XdS4FpgbR6amZCvNfydgYl3FyIhFAQdhSLUxVlV7T6gzJ6UwaXIF
czGRk4jkJjLRE6ASBtyC/mJsT5I8/5r+CQ2wvIAHu3RDxGXDjMrGqLnZk1dTcT2GHPXOElTxsB8N
hkx9ASvkrsFZb/em0njY+QJbbTqBU0I8hw7Ksjph8F8IugPP4zvXJNM2erqiuz5R9G7yrV9Ghkd8
D9J4Rf7g0k8L+wxnuusMUxETdfG0KddXemJq5kAucbNsn9xAx47Olt815LlejPDwR2ggJ3cW/JtV
gvqm3QIDAQAB</identity>
  <properties class="com.cloudbees.opscenter.server.model.ConnectedMaster$PropertyList">
    <com.cloudbees.opscenter.analytics.MasterReportingProperty plugin="operations-center-analytics@1.6">
      <enabled>true</enabled>
    </com.cloudbees.opscenter.analytics.MasterReportingProperty>
    <com.cloudbees.opscenter.server.properties.ConnectedMasterOwnerProperty>
      <owners>tkennedy@cloudbees.com </owners>
      <delay>5</delay>
    </com.cloudbees.opscenter.server.properties.ConnectedMasterOwnerProperty>
    <com.cloudbees.opscenter.server.properties.ConnectedMasterLicenseServerProperty>
      <strategy class="com.cloudbees.opscenter.server.properties.ConnectedMasterLicenseServerProperty$NoExecutorsStrategy"/>
    </com.cloudbees.opscenter.server.properties.ConnectedMasterLicenseServerProperty>
    <com.cloudbees.opscenter.plugins.updatecenter.ConnectedMasterUpdateCenterProperty plugin="operations-center-updatecenter@1.6">
      <source class="com.cloudbees.plugins.updatecenter.sources.LocalUpdateSource" plugin="cloudbees-update-center-plugin@4.15">
        <source>masters/api-team/api-update-center</source>
      </source>
    </com.cloudbees.opscenter.plugins.updatecenter.ConnectedMasterUpdateCenterProperty>
  </properties>
  <state>Approved</state>
</com.cloudbees.opscenter.server.model.ClientMaster>