<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.580.1.1-beta-6 (Jenkins Enterprise by CloudBees 14.11)</version>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="nectar.plugins.rbac.strategy.RoleMatrixAuthorizationStrategyImpl"/>
  <securityRealm class="com.cloudbees.opscenter.security.OperationsCenterSecurityRealm" plugin="operations-center-context@1.6"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <com.cloudbees.opscenter.client.cloud.CloudImpl plugin="operations-center-cloud@1.6">
      <name>Operations Center Slave Provisioning Service</name>
    </com.cloudbees.opscenter.client.cloud.CloudImpl>
  </clouds>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties>
    <com.cloudbees.jenkins.plugins.nodesplus.OwnerNodeProperty plugin="cloudbees-nodes-plus@1.10">
      <owners>stephen</owners>
      <onOnline>true</onOnline>
      <onOffline>true</onOffline>
      <onLaunchFailure>true</onLaunchFailure>
      <onTemporaryOfflineApplied>true</onTemporaryOfflineApplied>
      <onTemporaryOfflineRemoved>true</onTemporaryOfflineRemoved>
      <onFirstLaunchFailure>true</onFirstLaunchFailure>
    </com.cloudbees.jenkins.plugins.nodesplus.OwnerNodeProperty>
  </nodeProperties>
  <globalNodeProperties/>
</hudson>